 body{
    /* Margen predeterminado de las páginas web */
    margin: 0;
    /* Margen pa' dentro */
    padding: 0;
    /* Tamaño de fuente */
    font-size: 13px;
    /* Fuente de texto */
    font-family: Arial, Helvetica, sans-serif;
    /* Color de fondo */
    /*background-color: rgb(36, 34, 34);*/
}

/* ***************************************************************************************************************** */
/* ***************************************************************************************************************** */
/* ***************************************************************************************************************** */
/* NAVEGACIÓN*/

header{
    /* Anchura */
    width: 100%;
    /* Altura */
    height: 50px;
}

header nav{
    display: flex;
    justify-content: flex-end; 
}

/* Sección de las Anclas */
header nav .nav-right-section{
    /*Eliminar viñetas */
    list-style: none;
    /*background-color: aquamarine;*/
    width: 210px;
    /* Hacer el elemento flexible */
    display: flex;
    /* Centrar los elementos */
    justify-content: center;
    /* Centrado vertical */
    align-items: center ;
    height: 40px;
    padding-right: 0px;
}

/* Anclas */
nav .nav-right-section a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 14px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/0000000/circled-menu.png);
    width:20px;
    height: 20px;
    background-size: contain;
}

nav .nav-right-section img{
    margin-right: 10px;
    border-radius: 80px;

}

/* ***************************************************************************************************************** */
/* ***************************************************************************************************************** */
/* ***************************************************************************************************************** */
/* PRINCIPAL*/

main{
    margin-top: 50px;
    /* Centrar elementos */
    text-align: center;
    height: 450px;
}
/* Imagen - logo */
main .main-logo img{
    width: 270px;
    height: 90px;
    margin: 0 auto;
    margin: 5px;
    margin-bottom: 20px;
}
/* INPUT SECTION */
main .main-barra-navegacion{
    width: 600px;
    /* CENTRAR ELEMENTOS*/
    margin: 0 auto;
    /* MARGEN INFERIOR */
    margin-bottom: 10px;
    
}

main .main-input-container{
    width: 580px;
    /* BORDE DE COLOR: ANCHURA DE LÍNEA, ESTILO, COLOR  */
    border: 1px solid #dfe1e5;
    border-radius: 40px;
    height: 47px;
    /* CENTRAR ELEMENTOS*/
    margin: 0 auto;
}

main .main-input-container:hover{
    /* Dar sombra al pasar el mouse La sombra es de 0px en el eje 
    X, 4px en el eje Y, y tiene un difuminado de 8px con una opacidad 
    de 0.3  */
    box-shadow: 0 3px 6px rgba(127, 125, 125, 0.2);

}

main .main-barra-navegacion input{
    width: 400px;
    height: 40px ;
    border-style: none;
    /* Eliminar los bordes el input al seleccionarlo */
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}


main .main-barra-navegacion .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /* Conttenedor los elementos */
    background-size: contain;
    background-position: center;
    padding-left: 40px;
    
    /* Para elementos repetidos */
    background-repeat: no-repeat;
}

main .main-barra-navegacion .micro-icon{
    background-image: url("/img/voz-de-google.png");
    /* Conttenedor los elementos */
    background-size: contain;
    background-position: center;
    padding-left: 15px;
}

main .main-barra-navegacion .cam-icon{
    background-image: url("/img/google-lens.png");
    /* Conttenedor los elementos */
    background-size: contain;
    background-position: center;
    padding-right: 16px;

}
